USE [master]
GO
/****** Object:  Database [GOGREEN]    Script Date: 5/23/2023 9:25:20 AM ******/
CREATE DATABASE [GOGREEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GOGREEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.OBSIDIAN_ORDER\MSSQL\DATA\GOGREEN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ),
( NAME = N'GOGREEN_data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.OBSIDIAN_ORDER\MSSQL\DATA\GOGREEN_data.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GOGREEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.OBSIDIAN_ORDER\MSSQL\DATA\GOGREEN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GOGREEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GOGREEN]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryKey] [tinyint] NOT NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Commodity]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Commodity](
	[CommodityKey] [tinyint] NOT NULL,
	[Commodity] [nvarchar](50) NULL,
	[SubcategoryKey] [tinyint] NULL,
 CONSTRAINT [PK_Commodity] PRIMARY KEY CLUSTERED 
(
	[CommodityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryKey] [tinyint] NOT NULL,
	[Country] [nvarchar](50) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodImportFact]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodImportFact](
	[ID] [smallint] NOT NULL,
	[CommodityKey] [tinyint] NULL,
	[CountryKey] [tinyint] NULL,
	[MeasurementKey] [tinyint] NULL,
	[SubcategoryKey] [tinyint] NULL,
	[YearKey] [tinyint] NULL,
	[Value] [float] NULL,
 CONSTRAINT [PK_FoodImportFact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[MeasurementKey] [tinyint] NOT NULL,
	[Measurement] [nvarchar](50) NULL,
 CONSTRAINT [PK_Measurement] PRIMARY KEY CLUSTERED 
(
	[MeasurementKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price&inflationFact]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price&inflationFact](
	[ID] [smallint] NOT NULL,
	[CommodityKey] [tinyint] NULL,
	[CountryKey] [tinyint] NULL,
	[MeasurementKey] [tinyint] NULL,
	[SubcategoryKey] [tinyint] NULL,
	[YearKey] [tinyint] NULL,
	[Value2] [float] NULL,
 CONSTRAINT [PK_Price&inflationFact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcategory](
	[SubcategoryKey] [tinyint] NOT NULL,
	[Subcategory] [nvarchar](50) NULL,
	[CategoryKey] [tinyint] NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[SubcategoryKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Year]    Script Date: 5/23/2023 9:25:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year](
	[YearKey] [tinyint] NOT NULL,
	[YearNum] [smallint] NULL,
 CONSTRAINT [PK_Year] PRIMARY KEY CLUSTERED 
(
	[YearKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Commodity]  WITH CHECK ADD  CONSTRAINT [FK_Commodity_Subcategory] FOREIGN KEY([SubcategoryKey])
REFERENCES [dbo].[Subcategory] ([SubcategoryKey])
GO
ALTER TABLE [dbo].[Commodity] CHECK CONSTRAINT [FK_Commodity_Subcategory]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Commodity] FOREIGN KEY([CommodityKey])
REFERENCES [dbo].[Commodity] ([CommodityKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Commodity]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Country] FOREIGN KEY([CountryKey])
REFERENCES [dbo].[Country] ([CountryKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Country]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Measurement] FOREIGN KEY([MeasurementKey])
REFERENCES [dbo].[Measurement] ([MeasurementKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Measurement]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Measurement1] FOREIGN KEY([MeasurementKey])
REFERENCES [dbo].[Measurement] ([MeasurementKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Measurement1]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Subcategory] FOREIGN KEY([SubcategoryKey])
REFERENCES [dbo].[Subcategory] ([SubcategoryKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Subcategory]
GO
ALTER TABLE [dbo].[FoodImportFact]  WITH CHECK ADD  CONSTRAINT [FK_FoodImportFact_Year] FOREIGN KEY([YearKey])
REFERENCES [dbo].[Year] ([YearKey])
GO
ALTER TABLE [dbo].[FoodImportFact] CHECK CONSTRAINT [FK_FoodImportFact_Year]
GO
ALTER TABLE [dbo].[Price&inflationFact]  WITH CHECK ADD  CONSTRAINT [FK_Price&inflationFact_Country1] FOREIGN KEY([CountryKey])
REFERENCES [dbo].[Country] ([CountryKey])
GO
ALTER TABLE [dbo].[Price&inflationFact] CHECK CONSTRAINT [FK_Price&inflationFact_Country1]
GO
ALTER TABLE [dbo].[Price&inflationFact]  WITH CHECK ADD  CONSTRAINT [FK_Price&inflationFact_Measurement1] FOREIGN KEY([MeasurementKey])
REFERENCES [dbo].[Measurement] ([MeasurementKey])
GO
ALTER TABLE [dbo].[Price&inflationFact] CHECK CONSTRAINT [FK_Price&inflationFact_Measurement1]
GO
ALTER TABLE [dbo].[Price&inflationFact]  WITH CHECK ADD  CONSTRAINT [FK_Price&inflationFact_Subcategory1] FOREIGN KEY([SubcategoryKey])
REFERENCES [dbo].[Subcategory] ([SubcategoryKey])
GO
ALTER TABLE [dbo].[Price&inflationFact] CHECK CONSTRAINT [FK_Price&inflationFact_Subcategory1]
GO
ALTER TABLE [dbo].[Price&inflationFact]  WITH CHECK ADD  CONSTRAINT [FK_Price&inflationFact_Year1] FOREIGN KEY([YearKey])
REFERENCES [dbo].[Year] ([YearKey])
GO
ALTER TABLE [dbo].[Price&inflationFact] CHECK CONSTRAINT [FK_Price&inflationFact_Year1]
GO
ALTER TABLE [dbo].[Subcategory]  WITH CHECK ADD  CONSTRAINT [FK_Subcategory_Category] FOREIGN KEY([CategoryKey])
REFERENCES [dbo].[Category] ([CategoryKey])
GO
ALTER TABLE [dbo].[Subcategory] CHECK CONSTRAINT [FK_Subcategory_Category]
GO
USE [master]
GO
